[Unit]
Description=Python Shutdown Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/buttons/shutdown.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
